# Code Owners — reviewers are automatically requested on PRs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @orchestras/developers
